<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    
     	<!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/expertfinder</property>
        <property name="hibernate.connection.username">expertfinder</property>
        <property name="hibernate.connection.password">password (change me)</property>

		<!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>
                
<!--         <property name="hibernate.default_catalog">expertfinder</property>
        <property name="hibernate.default_schema">expertfinder</property>
-->
        
        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
        
        <!--  Entity mappings -->
        <mapping resource="de/csw/expertfinder/document/Document.hbm.xml"/>
        <mapping resource="de/csw/expertfinder/document/Author.hbm.xml"/>
        <mapping resource="de/csw/expertfinder/document/Revision.hbm.xml"/>
        <mapping resource="de/csw/expertfinder/document/Section.hbm.xml"/>
        <mapping resource="de/csw/expertfinder/document/SectionConcept.hbm.xml"/>
        <mapping resource="de/csw/expertfinder/document/Word.hbm.xml"/>
        <mapping resource="de/csw/expertfinder/document/Concept.hbm.xml"/>
        <mapping resource="de/csw/expertfinder/document/Link.hbm.xml"/>
        <mapping resource="de/csw/expertfinder/document/Category.hbm.xml"/>
        <mapping resource="de/csw/expertfinder/document/DocumentCategory.hbm.xml"/>
        <mapping resource="de/csw/expertfinder/document/ConceptSimilarity.hbm.xml"/>
        <mapping resource="de/csw/expertfinder/expertise/AuthorCredibility.hbm.xml"/>
        <mapping resource="de/csw/expertfinder/expertise/AuthorContribution.hbm.xml"/>
        <mapping resource="de/csw/expertfinder/application/ApplicationData.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
